{% extends 'dashboard/base.html' %}
{% load static%}
{% block body %}

<!-- This is the start of main dashboard page content section. -->
<div class="card border-danger mb-3">
    <div class="card-header" align="center" style="color:green; font-size:30px;">Add Vlogs </div>
    <div class="card-body text-primary">
        <div class="container contact-form">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-sm-10" style="margin-top:10px; margin-bottom:15px">
                            <input type="text" name="title" class="form-control" placeholder="Title Here" value="" required/>
                        </div>
                        <div align="center">
							{% if messages %}
								<ul class="messages">
								{% for message in messages %}
								<h4 align = "right" style="color:green"{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h4>
								{% endfor %}
								</ul>
							{% endif %}
						</div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" style="margin-top:10px;margin-bottom:10px;">
                           <input type="text" name="urls" class="form-control" placeholder="Enter Urls" value="" required/>
                        <div class="form-group row" style="margin-top:10px">
                            <div class="col-sm-10" align="right">
                                <input type="submit" name="submit" class="btn btn-success" value="Save Details" />
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </form>         
        </div>
    </div>
</div>

<div class="card border-danger">
    <div class="card-header" align="center" style="color:green; font-size:30px;">Vlogs Details</div>
    <div class="card-body text-primary">          
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>S.N</th>
                        <th>Video Preview</th>
                        <th>Vlog Title</th>
                        <th>Vlog Url</th>
                        <th>Added Date</th>
                        <th colspan="2">Operations</th>
                    </tr>
                </thead>
                {% for vlogs in vlogs%}
                <tbody>
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>
                            <iframe width="100px" height="100px" src="{{vlogs.urls}}" 
								title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
								encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
							</iframe>
                        </td>
                        <td>{{vlogs.title}}</td>
                        <td>{{vlogs.urls}}</td>
                        <td>{{vlogs.date}}</td>
                        <td align="right"><a class="btn btn-primary" href="{% url 'edit_vlogs' id=vlogs.id %}"><i class="fas fa-edit" aria-hidden="true"></i></a></td>
                        <td><a class="btn btn-danger" href="{% url 'delete_vlogs' id=vlogs.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<!-- This is the start of main table content page section. -->
{% endblock %}