{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/style.css' %}">
	<title>TNT Fashions Account Section</title>
</head>
<body>
    <div class="form_wrapper">
        <div class="form_container">
            <div class="title_container">
                <h2>Reset Your Password {{data.first_name}}</h2>
            </div>
            <div class="row clearfix">
                <div class="">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        {% if error%}
                        <div class="alert alert-danger" align="center" style="margin-top:10px;margin-bottom:10px;" role="alert">
                            {{error}}
                        </div>
                        {% endif %}

                        <div align="center">
							{% if messages %}
								<ul class="messages">
								{% for message in messages %}
								<h4 align = "right" style="color:red"{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h4>
								{% endfor %}
								</ul>
							{% endif %}
						</div>

                        <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                            <input type="password" name="password" placeholder="New Password" id="" required />
                        </div>
                        <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                            <input type="password" name="cpassword" placeholder="New Password Again" id="" required />
                        </div>
                        <input class="button" type="submit" value="Change Password " />
                        <a href="{% url 'login' %}">Want to go back ?</a><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <p class="credit">Developed by <a href="#" target="_blank">Samrat | Mishba | Swati</a></p>
</body>
</html>