{% extends 'base.html' %}
{% load static %}
{% block title %} Vlogs - MyBeauty {%endblock%}
{%block content %}

<!-- Breadcrumbs -->
<div class="breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="bread-inner">
					<ul class="bread-list">
						<li><a href="/">Home<i class="ti-arrow-right"></i></a></li>
						<li class="active"><a href="/our_vlogs">Our Vlogs</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Breadcrumbs -->

<!-- Start Contact -->
<section id="contact-us" class="contact-us section">
	<div class="container">
		<div class="contact-head">
			<div class="row">
				<div class="col-lg-12 col-12">
					<div class="form-main">
						<div class="title" align="center">
							<h4>Video Gallery</h4>
							<h3>Do Suscribe Our Youtube Channel</h3>
						</div>
                        <div class="row">
                            {% for our_vlogs in our_vlogs %}
                            <div class="col-lg-3 col-md-6 col-12">
								<div class="single-product">
									<div class="product-img">
										<a href="product-details.html">
											<iframe width="560" height="315" src="{{our_vlogs.urls}}" 
                                                title="YouTube video player" frameborder="0" 
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                                                allowfullscreen>
                                            </iframe>
										</a>
									</div>
									<div class="product-content">
									<p class="date">Uploaded on : {{our_vlogs.date}}</p>
										<h3><a href="product-details.html">{{our_vlogs.title}}</a></h3>
									</div>
								</div>
							</div>
                        {% endfor %}
                        </div>
			            </div>
                    </div>
                </div>
		    </div>
        </div>
	</section>
	<!--/ End Contact -->

{% endblock content %}