{% extends 'base.html' %}
{% load static %}
{% block title %} Shipping and Return Policy- MyBeauty {%endblock%}
{%block content %}

<!-- Breadcrumbs -->
<div class="breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="bread-inner">
					<ul class="bread-list">
						<li><a href="/">Home<i class="ti-arrow-right"></i></a></li>
						<li class="active"><a href="/shipping_and_return_policy">Shipping Policy | Return Policy</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Breadcrumbs -->

<!-- Start Contact -->
<section id="contact-us" class="contact-us section">
	<div class="container">
		<div class="contact-head">
			<div class="row">
				<div class="col-lg-6 col-12">
					<div class="form-main">
						<div class="title">
							<h4>RETURN, REPLACEMENT AND REFUND POLICY</h4>
						</div>
                        <p>        
							MyBeauty assures you the best of quality when it comes to our 
                            products. However, if you are not satisfied with your purchase for any
                             reason; you may return the product unused, and in the same condition 
                             as you received it, in its original packaging within 2 days from the
                              date on which these goods are delivered. We shall issue 60% refund of 
                              the cost of the product (40% shall be charged as Order Processing 
                              charges,maintenance charges and other misc charges.) 
                        </p>
                        <br>
                        <p class="title"> Please note that we are not accepting any returns for customized stitched .cosmetic
                        </p>
                        <div class="title">
                            <h4>Refund below 1000 INR will not be processed</h4>
                        </div>
                        <p> You need to notify us first before returning any product. You may do this
                             through Email Us or Call Us before returning any products. Returns made without 
                             notice SHALL NOT qualify for any kind of refund of payments.
                        </p>
                        <br>
                        <p> You may return the product to us at mentioned address on contact us page.</p>
                        <br>
                        <p> Customer have to bear the shipping costs while returning the products 
                            mybeauty.com never pays the returning shipping cost in any case. [Applies to all countries]
                        </p>
                        <br>
                        <p> In case of return of product. Your refund or product will be sent only after the product is received by us.
                            We shall not refund the shipping charges paid by you while purchasing the item.
                        </p>
                        <br>
                        <p> If we have products ready to get shipped at our premises at the time of refund request, 
                            customer will have to accept those products, refund will not be processed for it in any 
                            manner, and for remaining products it will be as per the refund policy which is 40% of 
                            order amount.
                        </p>
                        <br>
                        <p> We shall not refund the customs duties or taxes, if applicable, or paid by you at time of receiving the goods.
                            At any point of time, the refunds will not exceed the actual value of the goods.
                        </p>
                        <br>
                        <div class="title">
							<h4>Returns would not be accepted for custom made / stitched .cosmetic product </h4>
						</div>
                        <p> Any complaint with regards to the damage or stains or stitching or any other should be reported to us within 24 hrs of the receipt of the products.
                             We may ask for digital picture of the same in order to review the same.
                        </p>
                        <br>
                        <p>
                            In case of product return, we will issue a refund once we receive the product back at our office.      
                        </p>      
			            </div>
                    </div>
                    <div class="col-lg-6 col-12">
							<div class="single-head">
                                <div class="title">
                                    <h4>SHIPPING POLICY</h4>
                                </div>
                                <p> 1. We are committed to deliver the ordered products to the right customers at the right time, so you can set aside all your apprehensions and avail our services without any reluctance.</p>
                                <br>
                                <p> 2. We provide you with a well-established delivery mechanism that ensures the products ordered by you reach without any defect, damage or quality-issues.</p>
                                <br>
                                <p> 3. And as far as the international buyers are concerned, the shipping charges are based on the destination and quantity of units purchased. We assure you the most subsidized rates ever, and the best services at each step.</p>
                                <br>
                                <p> 4. Though it would be the weight of your package that determines shipping cost, you'll be charged the least possible fee, for sure.</p> 
                                <br>
                                <p> 5. Both the international as well as the domestic orders are shipped and delivered through leading courier services, ensuring the buyers an accurate delivery, in good condition, and on right time.</p>
                                <br>
                                <p> 6. All the orders are shipped within 15 working days or as per the date agreed at the time of order confirmation. Please note that all the high value orders will be shipped within 25 – 30 working days. Additionally the customer will be provided with the option to track their order online, after it is shipped.</p>
                                <br>
                                <p> 7. Please note that an additional 5 to 7 days will be taken to deliver the product if you have 
                                    ordered for stitching.</p>
                                <br>
                                <p> 8. Further, if you're purchasing multiple items and wish to ship them to different addresses,
                                    you're recommended to place them as different orders. However, if you've ordered multiple items
                                    in a single transaction, and wish to ship them to a single destination, the delivery date
                                    will be set as per the availability of the last ordered product. But in case you need the
                                    available products on urgent basis, excluding the one that's available later, we provide
                                    you with that option as well. Additional discounts will be offered in case of bulk purchases.</p>
                                <br>
                                <p> 9. For we are adhered to build long-lasting customer relations with enduring commitments,
                                    we take utmost care of the needs of our clients. For that matter, we take responsibility of 
                                    refunding your payment in case any unlikely event occurs and in case you don't receive the
                                    ordered products.</p>
                                <br>
                                <p> Further, to entertain your queries, we have a customer care, that is dedicated to resolving 
                                    all your problems. You can connect to our support channel online and know more about the shipping
                                    as well as the delivery process.</p><br>
                                <div class="title">
                                    <h4>"Please note that if there are any customs or duties applicable for the ordered items, 
                                        it would be billed separately to the customer by the courier company at the time of delivery.
                                        The duties and taxes are not a part of the customer's payment made to us."</h4>
                                </div>
							</div>
						</div>
                </div>
		    </div>
        </div>
	</section>
	<!--/ End Contact -->

{% endblock content %}