{% extends 'base.html' %}
{% load static %}
{% block title %} Term_&_Condition - MyBeauty{%endblock%}
{%block content %}

<!-- Breadcrumbs -->
<div class="breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="bread-inner">
					<ul class="bread-list">
						<li><a href="/">Home<i class="ti-arrow-right"></i></a></li>
						<li class="active"><a href="/term_and_condition">Terms & Conditions | Privacy Policy</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Breadcrumbs -->

<!-- Start Contact -->
<section id="contact-us" class="contact-us section">
	<div class="container">
		<div class="contact-head">
			<div class="row">
				<div class="col-lg-6 col-12">
					<div class="form-main">
						<div class="title">
							<h4>PRIVACY POLICY</h4>
						</div>
                        <p>        
							We respect your privacy and are committed to maintaining it. 
                            When you shop on our shopping store, we will ask you to input your information
                            and will collect Personal Information from you such as your name, e-mail address,
                            billing address, shipping address, telephone/ mobile number, product selections,
                            credit card or other payment information and password.
                        </p>
                        <br>
                        <p> We recognize your right to confidentiality and are committed to protecting your privacy.
                            We do not furnish any identifiable information at the individual level regarding its
                            customers to any third party. The information you give to us is held with the utmost
                            care and security. This information is collected primarily to ensure that we are able
                            to fulfill your requirements and to deliver you a truly personalized shopping experience.
                            When navigating our web site, personal information about you is not collected
                            automatically or without your knowledge.
                        </p>
                        <br>
                        <p> We are also bound to cooperate fully should a situation arise where we are required by
                            law or legal process to provide information about a customer. We may share non-personal,
                            non-individual statistical or demographic information in aggregate form with our marketing
                            partners, advertisers or other third-parties for research and advertising purposes.
                            In other words, we will not tell our marketing partners that you purchased a specific
                            product, but we may tell them how many customers purchased that product.
                        </p>
                        <br>
                        <p> If you consent, to notify you of products or special offers that may be of interest to you.
                            You agree that you do not object to us contacting you for any of the above purposes whether by
                            telephone, e-mail or in writing and you confirm that you do not and will not consider any of
                            the above as being a breach of any of your rights under the Telecommunications 
                            (Data Protection and Privacy) Regulations 1999.
                        </p>
                        <br>
                        <p> We will not release your Personal Information to any company outside for mailing or
                            marketing purposes.
                        </p>
                        <br>
                        <p> We use 'Cookies' to keep track of your current shopping session to personalize your
                            experience and so that you may retrieve your shopping cart at any time. 'Cookies' are tiny
                            text files which our Website places on your computer's hard drive to store information about
                            your shopping session and to identify your computer. `Cookies` cannot harm your computer
                            and do not contain any personal or private information. We do not hold any of your credit
                            card information. This information is securely collected by our authorized payment
                            processors.
                        </p>
                        <br>
                        <p> In short, we always strive to respect the privacy of our customers completely. 
                            We use the information we collect on the Store to enhance your overall shopping experience.
                            We do not sell, trade, or rent your personal information to others.We do not hold any of your
                            credit card information. This information is securely collected by our authorized payment
                            gateways. With the industry's most-advanced encryption, fraud prevention and protection
                            policies, our payment gateways are dedicated to keeping your account safe and secure.
                            Once your information reaches our payment gateways it resides on a server that is heavily
                            guarded both physically and electronically.
                        </p>
                        <br>
                        <div class="title">
							<h4>Your Privacy - Our Commitment</h4>
						</div>
                        <p> mybeauty.com, through its website, is extremely proud of it’s commitment to protect your privacy.
                            We value your trust in us. We will work hard to earn your confidence so that you can
                            enthusiastically use our services and recommend us to friends and family. Please read the 
                            following policy to understand how your personal information will be treated as you make full
                            use of our Site
                        </p>
                        <br>
                        <p>
                            For further details/query regarding the privacy policy, you may contact us      
                        </p>      
			            </div>
                    </div>
                    <div class="col-lg-6 col-12">
							<div class="single-head">
                                <div class="title">
                                    <h4>TERMS & CONDITIONS</h4>
                                </div>
                                <p> 1.   All Prices Mentioned are in INR (Indian National Rupees).</p>
                                <br>
                                <p> 2.   The Shipping Charges to countries other than India depends as per as the Order Quantity and Shipping Country.</p>
                                <br>
                                <p> 3.   The Shipping Charges to all major cities in INDIA is INR 130 per unit (BLUE DART).</p>
                                <br>
                                <p> 4.   Your order is confirmed only after 100% payment received. We accept modes of Payment Debit/Credit card, Net Banking, Wire Transfer, western union and more..) (If you wish to  same charge is 5% in case of PayPal).</p> 
                                <br>
                                <p> 5.   In case of where we have accepted the payment, and unfortunately the product is not available, we will inform you ASAP, and arrange for the Refund.</p>
                                <br>
                                <p> 6.   Please check the website regularly to find new Items.</p>
                                <br>
                                <p> 7.   We also have Stitching & Customizations Facility intact, so let us know, in case you want to have Stitching or any sort of Customizations done.Please note that the Stitching may take 7- 10 days extra depending upon the Work.</p>
                                <br>
                                <p> 8.   We are wholesaler so we do not show any brand logo or brand name for all items which are live on our website. We always cut them.</p>
                                <br>
                                <p> 9. You might find a Company or an organization selling same Products at a lower prices, but when we combine it with the Services we provide, you will surely choose us to serve you.
                                       Stitching suits will not be exchanged.</p>
                                <br>
                                <p> 10. After the payment is received it will take 10-12 working days for processing and 4-5 working days for delivery time.</p> 
                                <br>
                                <p> 11. For any international shipments, Custom Duty/ Import Duty if charged, it has to be paid by the the buyer. VAT/ Custom Taxes and import duties are not in our control and they may vary according to the rules of different countries and must be paid by the buyer.</p>
                                <br>
                                <p> 12. If you choose custom stitching service, Any size above 44 MUST be confirmed over e-mail before placing an order that whether it is possible in your selected products, tnt-fashionos.com will not be responsible OR entitled for any kind of replacement OR refund if you don't comfirm it.</p>
                                <br>
                                <p> 13. We do not accept single piece order, if ordered we will refund u the payment back within 10 working days.</p>
                                <br>
                                <p> 14. In case, you do not take delivery of your parcel on time, you need to claim for the parcel and bear two way shipping charges. Surat Wholesale Shop is not responsible to pay for any shipping charges.Surat Wholesale Shop is not responsible to pay for any shipping charges.</p>
                                <br>
                                <p> 15. As per Indian government's new Tax System GST [Goods And Services Tax] gone live from 1st July 2017, So 5% GST tax apply on our products, shipping & stitching charges.</p>
                                <br>
                                <p> 16. Please do not forget to mention special instructions like [neck style, cups required or not in blouses, lining requirement, bottom styles, proper length required of top & bottom, body or garment measurements] if required. We are not responsible for any issues once stithcing has been done.</p>
                                <br>
                                <p> 17. Any payment recieved from third party payment gateway except from our website (Western union, remitly, bank transfer or any such) the refund for those will be done only in indian bank account.</p>
							</div>
						</div>
                </div>
		    </div>
        </div>
	</section>
	<!--/ End Contact -->

{% endblock content %}